.cart-item{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
.cart-item img{
    width: 70px;
    height: 70px;
    border-radius: 5px;
    margin-right: 10px;
}
.cart-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete-btn{
    border: none;
    margin-left: 10px;
    font-size: 20px;
    cursor: pointer;
}
