.blog-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 20px;
    margin: 10px;
}
.blog{
    padding:0 30px;
    border: 2px solid black;
    border-radius: 10px;
}
.blog p{
    font-size: 20px;
}

@media only screen and (max-width:600px){
    .blog-container{
        grid-template-columns: 1fr;
    }
    
}