.navbar{
    background-color: #0a3d62;
    padding: 5px 0;
}
.navbar h1{
    color: #fff;
    text-align: center;
}

/* mobile responsive */
@media only screen and (max-width:600px) {
    .navbar{
        position: fixed;
        top: 0;
        width: 100%;
    }
}